html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

span {
    color: #1F77F2;
}

nav li {
    margin: 0 24px;
    color: #51565E;
}

nav li a:hover {
    color: #1F77F2 !important;
}

nav .navbar-brand :hover {
    transform: rotate(-15deg) scale(1.1);
    transition: transform 0.3s;
}

h1 {
    font-size: 3em;
}

.home {
    display: flex;
    align-items: center;
    min-height: 90vh;
    overflow: hidden;
}

.home-content {
    display: flex;
}

.home-text {
    flex: 0.75;
    padding-top: 2rem;
}

.home-text p {
    color: #838fa1;
    margin-bottom: 36px;
    line-height: 1.5;
}

.home-text h1 {
    margin-bottom: 24px;
    line-height: 1.25;
}

.home-img {
    flex: 1;
}

.home-img img {
    width: 550px;
    justify-content: center;
}

.about {
    display: flex;
    align-items: center;
    min-height: auto;
    overflow: hidden;
    padding: 48px 0;
    overflow: hidden;
}

.about-heading {
    padding-bottom: 1rem;
}

.about-heading p {
    color: #838fa1;
}

.about .card {
    border: 0;
    background-color: #f7f7f7;
    width: 100%;
    padding: 20px;
    border-radius: 48px;
}

.about .card-title {
    padding-top: 16px;
}

.about .card img {
    border-radius: 24px;
}

.about .card-text {
    color: #838fa1;
}

.doctor {
    padding: 48px 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
}

.doctor-content {
    display: flex;
}

.doctor-text {
    flex: 1;
}

.doctor-img {
    flex: 1;
}

.doctor h1 {
    line-height: 1.25;
}

.doctor p {
    color: #838fa1;
    line-height: 1.5;
}

.text-doctor {
    padding-top: 24px;
}

.doctor .text-left {
    flex: 1;
    padding-right: 12px;
}

.doctor .text-right {
    flex: 1;
}

.doctor .text-left h3 {
    color: #1F77F2;
}

.doctor .text-right h3 {
    color: #1F77F2;
}

.app {
    padding: 48px 0;
    overflow: hidden;
}

.app .heading {
    text-align: center;
    padding-bottom: 24px;
}

.app .heading p {
    color: #838fa1;
}

.app-content {
    display: flex;
}

.app-content img {
    width: 200px;
}

.app-content .app-left {
    flex: 1.5;
    margin-right: 3rem;
}

.app-content .app-right {
    flex: 0.5;
}

.app-up {
    background-color: #f7f7f7;
    margin-bottom: 2rem;
    padding: 0 36px;
    padding-top: 28px;
    border-radius: 48px;
    display: flex;
}

.app-up .app-up-text {
    flex: 1.5;
}

.app-up .app-up-img {
    flex: 0.5;
}

.app-bottom .app-bottom-text {
    flex: 1.5;
}

.app-bottom .app-bottom-text p {
    color: #51565E;
}

.app-bottom .app-bottom-text p {
    color: #51565E;
}

.app-bottom .app-bottom-img {
    flex: 0.5;
    padding-right: 24px;
}

.app-bottom {
    background-color: #f7f7f7;
    padding: 0 36px;
    padding-top: 28px;
    border-radius: 48px;
    display: flex;
}

.app-right {
    background-color: #f7f7f7;
    padding: 0 36px;
    padding-top: 28px;
    border-radius: 48px;
}

.app-right img {
    width: 300px;
}

.footer {
    background-color: #1F77F2;
    padding-top: 48px;
}

.footer .logo {
    padding: 12px;
    border-radius: 20px;
    background-color: #fff;
}

.footer .heading {
    padding-top: 0px;
    color: #fff;
}

.footer .footer-img p {
    color: #fff;
}

.footer .footer-links {
    text-align: center;
}

.footer .footer-links p a {
    text-decoration: none;
    color: #fff;
}

.footer .footer-konsultasi {
    text-align: center;
}

.footer .footer-konsultasi p a {
    text-decoration: none;
    color: #fff;
}

/* LAPTOP */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .simply-countdown>.simply-section {
        padding: 45px;
    }
}

/* HANDPHONE */
@media (max-width:576px) {
    html {
        font-size: 80%;
    }

    .container {
        padding: 0px 24px;
    }

    br {
        display: none;
    }

    .home {
        min-height: 90vh;
    }

    .home-content {
        display: block;
    }

    .home-content img {
        width: 100%;
        padding-top: 48px;
    }

    .doctor-content {
        display: block;
    }

    .doctor-img img {
        width: 100%;
        height: auto;
    }

    .app-content {
        display: block;
    }

    .app-content img {
        width: 125px;
        padding-left: 12px;
    }

    .app-bottom {
        display: block;
    }

    .app-up {
        display: block;
    }

    .app-content .app-left {
        margin-right: 0;
    }

    .app-content .app-right {
        margin-top: 28px;
        display: flex;
    }

    .app-right {
        display: flex;
        align-items: center;
    }

    .app-right .app-right-text {
        flex: 1.5;
        padding-right: 12px;
    }

    .app-right .app-right-img {
        flex: 0.5;
    }

    .footer .footer-img img {
        width: 100px;
    }

    .footer .footer-konsultasi {
        text-align: left;
    }

    .footer .footer-links {
        text-align: left;
    }

    .footer .heading {
        text-align: left;
    }

    .dokter-section {
        min-height: auto;
    }

    .heading p br {
        display: none;
    }

    .app-bottom {
        padding: 24px;
    }

    .app-up {
        padding: 24px;
    }

    .app-right {
        padding: 24px;
    }
}